.social-networks {
  display: flex;
  margin: 0 -12px;

  .social-network {
    box-sizing: content-box;
    display: block;
    padding: 0;
    margin: 0 12px;
    width: 32px;
    height: 32px;

    .social-network-image {
      width: 32px;
      height: 32px;
      display: block;
      object-fit: scale-down;
    }
  }
}
