.header {
  background-color: dodgerblue;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 10vh;
  padding: 0 12vw;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  box-shadow: 0 1px 1px lightsteelblue;
  z-index: 1000;
}

.logo {
  position: absolute;
  left: calc(12vw - (calc(10vh - 30px) + 32px));
  height: calc(10vh - 30px);
  width: calc(10vh - 30px);
  padding: 15px 0;
  user-select: none;
}

.logo:hover {
  cursor: pointer;
}

.logo-img {
  object-fit: scale-down;
}

.cart-wrapper {
  position: absolute;
  right: 12vw;
  height: 100%;
  display: flex;
  align-items: center;
}

.body {
  background-color: aliceblue;
  margin-top: 10vh;
  min-height: 70vh;
  padding: 0 12vw;
}

.about-area {
  padding: 5vh 20vw;
  background: no-repeat center right url('./assets/about.png');
  background-size: 25%;
}

.title {
  font-size: 1.7rem;
  font-weight: 500;
  margin-bottom: 24px;
}

.content {
  font-size: 1.2rem;
}

.products-area {
  padding: 5vh 0;
}

.footer {
  color: aliceblue;
  background-color: deepskyblue;
  height: 350px;
  padding: 0 12vw;
  box-shadow: 0 -5px 30px lightsteelblue;
  display: flex;
  flex-direction: column;
}

.footer-body {
  padding: 24px 0;
  display: flex;
  flex: 1;
  justify-content: space-between;
  gap: 48px;
}

.footer-title {
  font-size: 1.2rem;
  font-weight: 500;
  margin-bottom: 12px;
  width: 100%;
  text-align: start;
}

.contacts {
  display: flex;
  flex-direction: column;
  min-width: 300px;
}

.contact {
  font-size: 1rem;
  margin: 2px 0;
  font-weight: 400;
}

.yandex-map-wrapper {
  min-width: 300px;
  width: 600px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.yandex-map {
  width: 100%;
  height: 100%;
}

.social-networks-wrapper {
  min-width: 150px;
  display: flex;
  flex-direction: column;
}

.social-networks {
  display: flex;
  justify-content: space-around;
}

.social-network {
  width: 32px;
  height: 32px;
  background-color: brown;
}

.rights {
  display: flex;
  height: 50px;
  text-align: center;
  align-items: center;
  justify-content: center;
}
