.loading-product {
  margin: 0 32px 50px 32px;
  width: calc(100% / 4 - 96px);
  text-align: left;
  background-color: rgb(211, 234, 255);
  padding: 16px;
  border-radius: 8px;
  box-sizing: content-box;
  display: flex;
  flex-direction: column;

  .custom-skeleton-button-style {
    width: 100% !important;
  }

  .ant-space-item {
    width: 45%;
  }
}
