$page-horizontal-padding: 12vw;

$header-height: 10vh;
$header-background-color: dodgerblue;

$body-background-color: aliceblue;
$interactive-elements-background-color: lighten($header-background-color, 35%);

$footer-height: 350px;
$footer-background-color: deepskyblue;

$shadow-color: lightsteelblue;

$default-font-size: 18px;
$text-color: black;
$inversed-text-color: aliceblue;
$inversed-text-hover-color: white;
